<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="MageDirect\Faq\Api\Data\FaqInterface" type="MageDirect\Faq\Model\Faq" />
	<preference for="MageDirect\Faq\Api\Data\FaqSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
	<preference for="MageDirect\Faq\Api\FaqRepositoryInterface" type="MageDirect\Faq\Model\FaqRepository" />

</config>